[Unit]
Description=Cloud Memo Main Service

[Service]
Type=forking
ExecStart=/git/cloudmemo/run.sh --start
ExecReload=
ExecStop=/git/cloudmemo/run.sh --stop
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target

