{% extends '_mybase.html' %}

{% block body %}
    {{ super() }}
    {# when new, recordid like this: #}
    {# "POST /memo/cmd_save/?recordid=&page= HTTP/1.1" #}
    <form action="{{ url_for('blue_memo.cmd_save', recordid=recordid, page=page) }}", method="post">
      event type: 
      <br>
      <select name="typecode">
        {% for memotype in get_memotypes() %}
          <option value={{ memotype.code }} {% if typecode == memotype.code %}selected{% endif %}>{{ memotype.name }}</option>
        {% endfor %}
      </select>
      <br>
      event summary:
      <br>
      <input type="text" name="summary" {% if summary %}value={{summary}}{% endif %}>
      <br>
      event comment:
      <br>
      <input type="text" name="comment" {% if comment %}value={{comment}}{% endif %}>
      <br>
      <br>
      <button type="submit">submit</button>
      <button type="reset">reset</button>
      <br>
      <br>
      {% if recordid %}
        <a href="{{ url_for('blue_memo.cmd_delete', recordid=recordid, page=page) }}">delete</a> | 
      {% endif %}
      <a href="{{ url_for('blue_memo.vf_index', page=page) }}">return</a>
    </form>
    <br>
    {% include '_filezella.html' %}
{% endblock body %}
